<head>
  <title>Jadie Notes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>

</head>

<body>
  <div id="app"></div>

</body>

