.header {
  background: $header-bg;
  color: $header-color;
}

.header__content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}


.header__nav-toggle{
  cursor: pointer;
  height: 2rem;
  width: 2rem;

  @include desktop {
    display: none;
  }
}