.item-list{
  background-color: white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.item-list input{
  alignment: left;
  margin: 5px 5px 5px 7px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.item-list button{
  padding: 5px 5px;
  margin: 5px 5px 5px 10px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.item-list__header{
  display: flex;
  flex-direction: column;
  padding: $space;
}

.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color .3s ease, border-left .3s ease;
}

.item:hover{
  background-color: $light-grey;
  border-left: $item-border-width solid $grey;
}

.item--selected, item--selected:hover{
  background-color: $light-grey;
  border-left: $item-border-width solid $brand-primary;
}

.item__title{
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
}
.item--selected .item__title{
  font-weight: bold;
}
.item__subtitle{
  color: $dark-grey;
  margin: 0;
}

.empty-item{
 font-style: italic;
  padding: $space;
  text-align: center;
}