.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;

  @include desktop(){
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: flex ;
  transition: left .3s ease;
  width: 100vw;

  position: fixed;
  top: $header-height;
  left: -100vw;
  bottom: 0;
  z-index: 1;

  @include desktop() {
    display: flex;
    padding-right: $large-space;
    position: static;
    width: $page-content-sidebar-width;

  }
}

.is-nav-open .page-content__sidebar{
  left: 0;
}

.page-content__main{
  display: flex;
  width: 100%;

  @include desktop() {
    width: $page-content-main-width;
  }
}
